
#navbar {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	padding-top: 20px;
	padding-bottom: 20px;
}
#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ffffff;
}
#navbar li {
	float: right;
	padding: 10px;
}
#navbar h1 {
	display: inline;
	border-bottom: 2px solid #777777;
	background-color: #4aaaa5;
	padding: 20px;
	color: #fff;
	float: left;

}
body {
	background-color: #777;
	background-image: url('../images/ignasi_pattern_s.png');
	width: 960px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
	color: #4aaaa5;
}
h1 {
	font-size: 40px;
}
h3 {
	font-size: 25px;
}
p {
	color: #777777;
	line-height: 1.5;
	padding-top: 15px;
}
p, a {
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
}
.content {
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	width: 650px;
	background-color: #fff;
	position: relative;
	margin-top: 16px;
	padding: 15px;
	float: left;
	border: 1px solid #ddd;
}
#aside {
	width: 270px;
	background-color: #fff;
	border: 1px solid #ddd;
	float: right;
	
}
.social ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
.social li {
	display: inline;
	margin: 0;
	padding: 10px;
}
#aside h3 {
	text-align: center;
	margin-top: 10px;
}
footer {
	text-align: center;
	background-color: #fff;
	padding: 15px;
	clear: both;
}